[Desktop Entry]
Name=Enemy Territory - ETPro
Type=Application
Terminal=false
Comment=Enemy Territory - ETPro
Exec=etpro
Icon=et
Categories=Game;X-FPPGame;
